
LightHome.xcodeproj/xcuserdata/Mark.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

LightHome.xcodeproj/xcuserdata/Mark.xcuserdatad/xcschemes/xcschememanagement.plist

LightHome.xcodeproj/project.xcworkspace/xcuserdata/Mark.xcuserdatad/UserInterfaceState.xcuserstate
